[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "data.validator"]
	path = data.validator
	url = https://github.com/appsilon/data.validator
	shallow = true
	registered = true
[submodule "rhino"]
	path = rhino
	url = https://github.com/appsilon/rhino
	shallow = true
	registered = true
[submodule "semantic.dashboard"]
	path = semantic.dashboard
	url = https://github.com/appsilon/semantic.dashboard
	shallow = true
	registered = true
[submodule "shiny.benchmark"]
	path = shiny.benchmark
	url = https://github.com/appsilon/shiny.benchmark
	shallow = true
	registered = true
[submodule "shiny.fluent"]
	path = shiny.fluent
	url = https://github.com/appsilon/shiny.fluent
	shallow = true
	registered = true
[submodule "shiny.i18n"]
	path = shiny.i18n
	url = https://github.com/appsilon/shiny.i18n
	shallow = true
	registered = true
[submodule "shiny.info"]
	path = shiny.info
	url = https://github.com/appsilon/shiny.info
	shallow = true
	registered = true
[submodule "shiny.react"]
	path = shiny.react
	url = https://github.com/appsilon/shiny.react
	shallow = true
	registered = true
[submodule "shiny.router"]
	path = shiny.router
	url = https://github.com/appsilon/shiny.router
	shallow = true
	registered = true
[submodule "shiny.semantic"]
	path = shiny.semantic
	url = https://github.com/appsilon/shiny.semantic
	shallow = true
	registered = true
[submodule "shiny.telemetry"]
	path = shiny.telemetry
	url = https://github.com/appsilon/shiny.telemetry
	shallow = true
	registered = true
