[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "box.linters"]
	path = box.linters
	url = https://github.com/appsilon/box.linters
[submodule "data.validator"]
	path = data.validator
	url = https://github.com/appsilon/data.validator
[submodule "reactable.extras"]
	path = reactable.extras
	url = https://github.com/appsilon/reactable.extras
[submodule "rhino"]
	path = rhino
	url = https://github.com/appsilon/rhino
[submodule "semantic.assets"]
	path = semantic.assets
	url = https://github.com/appsilon/semantic.assets
[submodule "semantic.dashboard"]
	path = semantic.dashboard
	url = https://github.com/appsilon/semantic.dashboard
[submodule "shiny.benchmark"]
	path = shiny.benchmark
	url = https://github.com/appsilon/shiny.benchmark
[submodule "shiny.emptystate"]
	path = shiny.emptystate
	url = https://github.com/appsilon/shiny.emptystate
[submodule "shiny.fluent"]
	path = shiny.fluent
	url = https://github.com/appsilon/shiny.fluent
[submodule "shiny.i18n"]
	path = shiny.i18n
	url = https://github.com/appsilon/shiny.i18n
[submodule "shiny.info"]
	path = shiny.info
	url = https://github.com/appsilon/shiny.info
[submodule "shiny.react"]
	path = shiny.react
	url = https://github.com/appsilon/shiny.react
[submodule "shiny.router"]
	path = shiny.router
	url = https://github.com/appsilon/shiny.router
[submodule "shiny.semantic"]
	path = shiny.semantic
	url = https://github.com/appsilon/shiny.semantic
[submodule "shiny.telemetry"]
	path = shiny.telemetry
	url = https://github.com/appsilon/shiny.telemetry
